html{
    font-family:"Helvetica",sans-serif;
    font-size:16px;
    line-height:1.5;
}

body{
    padding:10%;
}
body article {
    background:rgb(51, 102, 153);
    border-radius:1rem;
    color:#FFF;
    padding:2rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Georgia", serif;
}