@import url('https://fonts.googleapis.com/css?family=Lato');


html{
    font-family:Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5;
}

body{padding:10%;}
ul{
    list-style-type:square;
}

