html{
    background:rgb(238, 238, 238);
}

body{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    
    
}

.card{
    color:rgb(0 0 0 0);
    box-shadow:0 0 10px 0 #000000;
    border-radius:5px;
    width: 25%;
    padding:1rem;
    

    
}

.descr h3 {
    font-weight:bold;
    margin:1 0 1 0;
    padding:0;
}

.descr{
    margin:0;
    padding:0;
}