nav.main {
    display:flex;
    
}

nav.main ul{
  
    list-style-type:none;
    background:rgb(255, 255, 255);
    border-radius:3px;
    
}

nav.main > ul{
    display:flex;
   padding:0.5rem;
}

nav.main ul ul{
    display:none;
    width:12rem;
    position:absolute;
    margin-top:0.3rem;
}

nav.main > ul > li > ul  {
    top:100%;
    left:0;
}

nav.main > ul > li > ul > li > ul  {
    top: 0;
    left:inherit;
    right:100%;
}

nav.main li {
    display:block;
    position:relative;
}
nav.main a{
    text-decoration:none;
    display:block;
    background:rgb(51, 51, 51);
    color:#FFF;
    border-radius:3px;;
    padding:0.5rem;
}
nav.main li:hover > a,
nav.main a:hover{
   
    background:rgb(1, 156, 0);
    color:#FFF;
    border-radius:0.3px;
}

nav.main li:hover > ul {
    display:block;
}
nav.main > ul > li:not(:last-child){
    padding-right:0.7rem;
}


input{
    display:hidden;

}


#toggle,
#main-nav-toggle {
    display:none;
}

@media screen and (max-width:800px){
    body{
    
    }

    #toggle{
        display:block;
    }

    nav.main {
        display:none;
    }

    #main-nav-toggle:checked + header nav.main {
        display: block;
    }
    
}


@media screen and (min-width:800px){
    body{
        
    }

}