html {
	font: 12px/1.5 Helvetica, sans-serif;
}

@media screen and (min-width: 500px) {
	font-size:14px;
} 
@media screen and (min-width: 600px) {
	body{
		font-size:14px;
	}
} 
@media screen and (min-width: 800px){
body{
	font-size:16px;
}
} 
@media screen and (min-width: 1300px){
body{
	font-size:21px;
}
} 
@media screen and (min-width: 1800px){
body{
	font-size:23px;
}
} 

body {
}

h1, h2, h3, h4, h5, h6 {
	font: 1em/1.2 Georgia, serif;
	margin: 1em 0 0.5em 0;
	padding: 0;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

p {
	margin: 0;
	padding-bottom: 1.5rem;
}

img {
	margin:0 1rem 0 1rem;
	border:1px solid black;
	background: #FFF;
	padding:0.5rem;
}
ol, ul, dl {
	margin: 0 0 1.5rem 0;
}

ul, ol {
	padding: 0;
	margin-left: 1.5rem;
}

ul li, ol li {
	list-style-position: inside;
}

ul ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul li { list-style-type: square; }
ul ul li { list-style-type: disc; }
ul ul ul li { list-style-type: circle; }

blockquote {
	border-left: 4px solid #DDD;
	font-style: italic;
	margin: 0 0 1.5rem 2rem;
	padding: 1rem 2rem;
	position: relative;
}

@media screen and (min-width:600px){
	blockquote{
		width:40%;
	}
}

@media screen and (min-width:800px){
	blockquote{
		width:50%;
	}
}
blockquote .author {
	text-align: right;
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid #CCC;
	border-spacing: 0;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #CCC;
	padding: 0.3rem 0.5rem;
}

table thead th {
	text-align: left;
	background: #CCC;
}

table tr:nth-child(odd) td {
	background: #F1F1F1;
}

table tr:hover td {
	background: black;
	color: #FFF;
	border-color: transparent;
}

hr {
	margin: 2rem 0;
}

.site-title {
    font-size:3rem;
    text-transform: uppercase;
}
.align_right{
    float:right;
}

.align_left{
	float:left;
}



