@import url('navigation.css');
@import url('../../IMPORTS/reset.css');
html{
    font:16px/1.5 "Helvetica",sans-serif;
}

body{
    background:rgb(238, 238, 238);
    padding:2rem;
}
body > header:first-of-type {
    border-bottom:2px solid #CCC;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.site-title {
    font-size:3rem;
    padding:0;
}


